html {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.title {
    margin-top: 32px;
}

.buttons {
    margin-top: 32px;
}

.container {
    margin: 64px;
    height: 90vh;
    width: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid #000;
}

.rows {
    display: flex;
    flex: 1;
}

.cols {
    flex: 1;
}