html {
    box-sizing: border-box;
    font-family: "Cabin Sketch", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
}

button {
    font-family: inherit;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.title {
    margin-top: 32px;
    font-size: 48px;
    color: #333;
}

.buttons {
    margin-top: 32px;
    display: flex;
    gap: 24px;
}

.create-grid-btn,
.monochrome-btn,
.colorize-btn,
.reset-btn {
    padding: 8px 16px;
    color: #333;
    font-weight: 700;
    letter-spacing: 2px;
    border: 2px solid #333;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
}

.create-grid-btn:hover,
.monochrome-btn:hover,
.colorize-btn:hover,
.reset-btn:hover {
    background-color: #ccc;
}

.create-grid-btn:active,
.monochrome-btn:active,
.colorize-btn:active,
.reset-btn:active {
    background-color: #fff;
}

.container {
    margin: 64px;
    height: 500px;
    width: 500px;
    display: flex;
    flex: 1;
    flex-direction: column;
    outline: 2px solid #333;
    background-color: #fff;
}

.rows {
    display: flex;
    flex: 1;
}

.cols {
    flex: 1;
}

.footer {
    font-size: 18px;
    color: #333;
}

.footer a {
    text-decoration: none;
    color: #333;
}

.footer a:hover {
    color: #666;
}